<form method="POST" action='/login'>
    <label>Login</label>
    <input type="text" name="login"/>

    <label>Hasło</label>
    <input type="password" name="pass" />

    <input type="submit" value="Zaloguj" />
</form>
%rebase maincontent_blocks title=title, logged_in=logged_in