body {
    margin: 0 auto;
    font-family: Arial;
    font-size: 14px;
    text-shadow: 1px 1px white;
}

.maincontent {
    width: 500px;
    margin: 0 auto;
    background: #eee;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.maincontent h1, .maincontent h3 {
    text-align: center;
}

.maincontent .mainmenu ul {
    list-style: none;
    padding: 5px;
    text-align: center;
}

.maincontent .mainmenu ul li {
    display: inline-block;
    padding: 5px;
    background: #999;
    border-radius: 5px;
}

.maincontent .mainmenu ul li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.maincontent .contents .article-item {
    border-radius: 10px;
    background: #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px #999;
}

.registerform div, .addform {
    padding: 5px;
}

.addform textarea {
    width: 100%;
    height: 200px;
}

.article-footer {
    font-style: italic;
    font-size:13px;
    margin-top:10px;
}

.article-footer .article-date {
    font-size: 12px;
    padding-left: 5px;
}